body {
    height: 60%;
}

#registertxt {
    position: absolute;
    top: 74%;
    left: 30%;
}

#footer {
    margin-top: auto
}

.col-3 {
    position: relative;
    left: 13%;
    top: 10px;
}

.col-9 {
    position: relative;
    left: 14%;
    top: 10px;
}