body {
    height: 60%;
}

#registertxt {
    position: absolute;
    top: 74%;
    left: 30%;
}

#footer {
    margin-top: auto
}

.col-3 {
    position: relative;
    left: 13%;
    top: 10px;
}

.col-9 {
    position: relative;
    left: 12.5%;
    top: 10px;
}

thead {
    background-color: #212529;
    color: white;
}

#modal {
    position: relative;
    right: -1.7%;
    top: -12px;
    float: right;
}